<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.pilgrimage.model.mapper.DramaMapper">
	
	<select id="existsByDramaId" resultType="boolean">
		SELECT EXISTS (
			SELECT 1
			FROM Drama
			WHERE drama_id = #{dramaId}
		)
	</select>
	
	<select id="selectDramaImagesByDramaIds"
			resultType="com.ssafy.pilgrimage.model.dto.DramaImageRowDto">
		SELECT
			drama_id AS dramaId,
			img_id AS imgId,
			url AS url
		FROM DramaImg
		WHERE drama_id IN
		<foreach collection="dramaIds" item="dramaId" open="(" separator="," close=")">
			#{dramaId}
		</foreach>
		ORDER BY drama_id ASC, img_id ASC
	</select>
</mapper>
