<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moonback.pilgrimage.model.mapper.SceneMapper">
	<select id="findById"
			resultType="com.moonback.pilgrimage.model.dto.SceneDto">
		SELECT 
			s.scene_id as sceneId,
			s.drama_id as dramaId,
			s.name as name,
			s.description,
			s.address,
			s.latitude,
			s.longitude
		FROM Scene s
		WHERE scene_id = #{sceneId}
	</select>
	
	<select id="findSceneImagesBySceneId"
			resultType="com.moonback.pilgrimage.model.dto.SceneImageDto">
		SELECT
			img_id AS imgId,
			url
		FROM SceneImg
		WHERE scene_id = #{sceneId}
		ORDER BY img_id ASC
	</select>
	
	<select id="selectSceneImagesBySceneIds"
        resultType="com.moonback.pilgrimage.model.dto.SceneImageRowDto">
	    SELECT
	        scene_id AS sceneId,
	        img_id AS imgId,
	        url
	    FROM SceneImg
	    WHERE scene_id IN
	    <foreach collection="sceneIds" item="sceneId" open="(" separator="," close=")">
	        #{sceneId}
	    </foreach>
	    ORDER BY scene_id ASC, img_id ASC
	</select>
	
	<select id="countSceneByDramaId"
			resultType="int">
		SELECT COUNT(*)
		FROM Scene
		WHERE drama_id = #{dramaId}
	</select>
	
	<select id="getSceneByDramaId"
			resultType="com.moonback.pilgrimage.model.dto.SceneDto">
		SELECT 
			scene_id AS sceneId,
	        drama_id AS dramaId,
	        name AS name,
	        description AS description,
	        address AS address,
	        latitude AS latitude,
	        longitude AS longitude
		FROM SCENE
		WHERE drama_id = #{dramaId}
		ORDER BY scene_id ASC
		LIMIT #{size}
		OFFSET #{offset}
	</select>
</mapper>