<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moonback.pilgrimage.model.mapper.WishlistMapper">
	<select id="getWishlist">
		
	</select>
	
	<delete id="deleteWishlist">
	
	</delete>
	
	<insert id="addWishlist">
		INSERT INTO WISHLIST(
			member_id,
			scene_id
		)
		VALUES(#{memberId}, #{sceneId})
	</insert>

	<select id="countByMemberIdAndSceneId"
			resultType="int">
		SELECT count(*)
		FROM WISHLIST
		WHERE member_id = #{memberId} and scene_id = #{sceneId}
	</select>
</mapper>